body {
    font-family: 'Roboto', sans-serif;
    color: #171502;
    margin: 1;
  }
  header, footer {
    background-color: #fdecec;
    color: #150202;
    padding: 1em;
    text-align: top left;
    text-align: left;
  }
  nav a {
    color: #151313;
    margin: 0 2em;
    text-decoration: none;
    font-weight: 700;
  }
  nav a:hover {
    color: #ec1435;
  }