body {
    font-family: 'Roboto', sans-serif;
    color: #171502;
    margin: 1;
  }
  header, footer {
    background-color: #fdecec;
    color: #150202;
    padding: 1em;
    text-align: top left;
    text-align: left;
  }
  nav a {
    color: #151313;
    margin: 0 2em;
    text-decoration: none;
    font-weight: 700;
  }
  nav a:hover {
    color: #ec1435;
  }
  nav ul li {
    margin-right: 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: black;
    border-radius: 25px;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: #C4E1F6;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .product-card img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .product-card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
  }
  .product-buttons {
    display: flex;
    justify-content: center; 
    gap: 10px; 
  }
  .add-to-cart, .buy-now {
    background-color: #110d02;
    border-color: #333;
    color: rgb(241, 234, 234);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .add-to-cart:hover, .buy-now:hover {
    background-color: #e8c4d4;
  }